/* GRID ==================================================================*/
.module.grid .grid__grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr); 
	max-width: var(--width-body);
	text-align: left;
}

@media (min-width: 735px) {
	.module.grid .grid__grid {
		grid-template-columns: repeat(3, 1fr); 
	}
}

@media (min-width: 1000px) {
	.module.grid .grid__grid {
		grid-template-columns: repeat(3, 1fr); 
	}
}

.module.grid .grid__item {
    background-color: #e8e8e8;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.module.grid .grid__item h2,
.module.grid .grid__item p:nth-child(1) {
	flex-grow: 1;
}

.module.grid .grid__item .btn-round, 
.module.grid .grid__item .btn-square {
	width: 100%;
}

.module.grid .grid__item img {
	width: 20%;
}
