/*BUTTONS=========================================================================*/

a.btn-link:after {
	background-image: url(../../calottecore/images/buttons/chevron_right-green.svg);
}

a.btn-down:after {
	background-image: url(../../calottecore/images/buttons/arrow_down-green.svg);
}

a.btn-ext:after {
	background-image: url(../../calottecore/images/buttons/open_in_new-green.svg);
}

a.btn-back:before {	
	background-image: url(../../calottecore/images/buttons/chevron_left-green.svg);
}

a.btn-mail:before {
	background-image: url(../../calottecore/images/buttons/mail-green.svg);
}

a.btn-tel:before {
    background-image: url(../../calottecore/images/buttons/phone-green.svg);
}

a.btn-messenger:before {
	background-image: url(../../calottecore/images/buttons/messenger-green.svg);
}

a.btn-solid,
.content a.btn-solid {
    border-radius: 9999px;
}





/*CONTENT=========================================================================*/

.content h1 {
	margin-bottom: var(--rhythm);
	text-align: center;
}

.splash .content h1 {
	margin-bottom: 0;
}

.content blockquote, .content blockquote>p {
	max-width: var(--width-body);
	text-align: center;
}





/*SPLASH==========================================================================*/

.splash.smaller_h1 h1 {
 font-size: 1.5rem;
}
@media (min-width: 735px) {
    .splash.smaller_h1 h1 {
     font-size: 2rem;
    }
}





/*CAROUSEL=============================================================================*/

.carousel__item {
	background-color: #e8e8e8;

}





/*FOOTER===========================================================================*/

.footer__ctn {
	justify-content: center;
}

.footer__nav {
	width: 100%;
}
@media (min-width: 735px) {
	.footer__nav {
		width: 33.33%;
	}
}

.footer__nav ul {
	font-family: var(--font-alt);
	font-weight: normal;
}


.footer__nav ul ul {
	font-family: var(--font-base);
}


/*ADDRESS*/

.footer__address {
	margin-top: calc(var(--rhythm)/2);
	line-height: 1.6;
	font-size: 1em;
	width: 100%;
}

@media (min-width: 735px) {
	.footer__address {
		margin-top: 0;
		width: 33.33%;
	}
}

.footer__address h2
{
	margin: 0 0 1rem 0;
	font-size: 14px;
}

.footer__address div {
	opacity: 0.7;
}

/*NEWSLETTER*/

.footer__newsletter {
	margin-top: calc(var(--rhythm)/2);
	width: 100%;

}
@media (min-width: 735px) {
	.footer__newsletter {
		margin-top: 0;
		width: 33.33%;
	}
}

.footer__newsletter h2
{
	margin: 0 0 1rem 0;
	font-size: 14px;
}

#mc_embed_signup input[type=email], #mc_embed_signup input[type=text] {
     margin-top: 0; 
}