.grid__content {
	max-width: var(--width-tight);
	margin: 0 auto var(--gutter) auto;
	padding: 0 var(--gutter);
}

.grid__content *:first-child {
	margin-top: 0;
}

.grid__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	grid-gap: var(--gutter);
	margin: 0 auto;
	padding: 0 var(--gutter);
	width: 100%;
	max-width: var(--width-site);
}

@media (min-width: 735px) {
	.grid__grid {
		grid-template-columns: repeat(3, 1fr); 
	}
}

@media (min-width: 1000px) {
	.grid__grid {
		grid-template-columns: repeat(4, 1fr); 
	}
}

.grid__item {
    width: 100%;
    background-color: #f1f1f1;
    color: var(--color-fg);
    padding: var(--gutter);
}

.grid__item img,
.grid__item video{
	margin: 0;
	padding: 0;
	width: 100%;
}


.grid__item h2, .grid__item h3, .grid__item h4, .grid__item h5, .grid__item h6,
.grid__item p {
	padding: 0;
	margin-top: 0;
	margin-left: 0;
	max-width: none;
}

.grid__item p {
	margin-bottom: 0;
}

.grid__item * + p,
.grid__item * + h2,
.grid__item * + h3 {
	margin-top: 1rem;
}

.grid__item h2,.grid__item h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media (min-width: 735px) {
  .grid__item h2,.grid__item h3 {
    font-size: 2rem;
  }
}


/* CUSTOM STUFF TO INTEGRATE ==================================================================*/
.module.grid .grid__grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr); 
	max-width: var(--width-body);
	text-align: left;
}

@media (min-width: 735px) {
	.module.grid .grid__grid {
		grid-template-columns: repeat(3, 1fr); 
	}
}

@media (min-width: 1000px) {
	.module.grid .grid__grid {
		grid-template-columns: repeat(3, 1fr); 
	}
}

.module.grid .grid__item {
    background-color: #e8e8e8;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.module.grid .grid__item h3,
.module.grid .grid__item p:nth-child(1) {
	flex-grow: 1;
}

.module.grid .grid__item .btn-round, 
.module.grid .grid__item .btn-square {
	width: 100%;
}

.module.grid .grid__item img {
	width: 20%;
}
