{% set loading = page.header.loading ?? 'transition' %}

{% if loading == 'intro' %}
<div id="loading" class="intro" data-reveal-initdelay="1200" data-loaded-delay="1000">{% include 'partials/logo.html.twig' %}</div>
{% else %}
<div id="loading" class="transition" data-reveal-initdelay="100" data-loaded-delay="0"></div>
{% endif %}





